<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company|Blogs</title>
    <link rel="stylesheet" href="/css/blog.css">
</head>

<body>

    <%- include("partials/navbar.ejs") %>
        <div class="conti">
            <!-- <input class="search" type="text" placeholder="SEARCH"> -->
            <a class="create" href="/blog/create"><button class="btn btned">Write A Blog</button></a>
        </div>


        <div class="contain">
            <% if(blogs.length) {%>
                <% for(let i=0;i<blogs.length;i++) {%>
                    <div class="card">
                        <h1 class="title info">
                            <%= blogs[i].title %>
                        </h1>
                        <span class="by info">Posted by: <%= blogs[i].name %></span>
                        <h5 class="date info ">
                            <%= blogs[i].date.toLocaleDateString() %>
                        </h5>
                        <h5 class="description info">
                            <%= blogs[i].description%>
                        </h5>
                        <div class="button-control">
                            <a class="btn btn1" href="/blog/<%=blogs[i]._id%>">ReadMore</a>
                            <% if(admin) {%>
                                <a href="/blog/delete/<%=blogs[i]._id%>" class="btn btn1">Delete</a>
                                <%}%>
                        </div>
                    </div>
                    <%}%>
                        <%}%>


        </div>

        <%- include("partials/footer.ejs") %>

</body>

</html>