<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company|Blogs</title>
    <link rel="stylesheet" href="/css/blog.css">
</head>

<style>
    
</style>

<body>

    <%- include("partials/navbar.ejs") %>
        <div class="conti">
            <% if(admin) {%>
                <a class="create" href="/blog/create"><button class="btn btned">Write A Blog</button></a>
                <%}%>
                <h1>Read Our Blogs</h1>
        </div>



        <div class="contain">
            <% if(blogs.length) {%>

                <% for(let j=0;j<7;j++) {%>

                    <% for(let i=0;i<blogs.length;i++) {%>
                        <div class="carded">
                            <br>
                            <% if(blogs[i].image) {%>
                                <div class="image">
                                    <img src="<%=blogs[i].image %>" alt="">
                                </div>
                                <%}%>

                                    <h3 class="title info">
                                        <%= blogs[i].title %>
                                    </h3>
                                    <% if(blogs[i].tag){%>
                                        <span
                                            style="background-color: grey; color: white; padding: 5px; border-radius: 10px;text-align: center;"
                                            class="by info">
                                            <%= blogs[i].tag %>
                                        </span>
                                        <br>
                                        <%}%>
                                            <span class="by info">Posted by: <%= blogs[i].name %></span>
                                            <br>
                                            <span class="date info ">
                                                <%= blogs[i].date.toLocaleDateString() %>
                                            </span>
                                            <h5 class="description info">
                                                <%= blogs[i].description%>
                                            </h5>
                                            <div class="button-control">
                                                <a class="btn btn1" href="/blog/<%=blogs[i]._id%>">ReadMore</a>
                                                <% if(admin) {%>
                                                    <a href="/blog/delete/<%=blogs[i]._id%>" class="btn btn2">Delete</a>
                                                    <%}%>
                                            </div>
                        </div>
                        <%}%>
                            <%}%>
                                <%}%>


        </div>

        <%- include("partials/footer.ejs") %>

</body>

</html>