<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company|<%= blog.title%>
    </title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/css/showblog.css">
</head>

<body>

    <%- include("partials/navbar.ejs") %>

        <div class="title">
            <h1 name="title">
                <%=blog.title%>
            </h1>
        </div>

        <div class="container conti" style="max-width:95vw">

            <div class="h22">
                <span class="mt-3">Posted by: <%=blog.name%></span>
                <% if(blog.tag){%>
                    <span style="padding: 5px;
                    border-radius: 10px;background-color: grey; color: white;" class="by info">
                        <%= blog.tag %>
                    </span>
                    <%}%>
                        <span class="mt-3">
                            <%=blog.date.toLocaleString()%>
                        </span>

                        <h5 class="mt-3">
                            <%=blog.description%>
                        </h5>

                        <% if(user){%>
                            <% if(user.email==blog.email || admin) {%>
                                <a href="/blog/edit/<%=blog._id%>" class=" btn2 btn btn-primary">Edit</a>
                                <a href="/blog/delete/<%=blog._id%>" class="btn-danger btn3 btn ">Delete</a>
                                <%}%>
                                    <%}%>
            </div>

            <div class="two">
                <% if(blog.image){%>
                    <div class="image">
                        <img class="" src="<%= blog.image %>" alt="">
                    </div>
                    <%}%>
                        <div>
                            <%-blog.markdown%>
                        </div>

                        <!-- <a href="/blog" class="btn btn-primary">Return</a> -->

            </div>

        </div>
        <!-- <div class="conti">
            <div class="section">
                <form class="form" action="/blog/comment">
                    <h5>Leave a comment</h5>

                    <input class="input" id="id" type="hidden" name="userid" value="<%=blog._id%>">
                    <% if(user) {%>
                        <input class="input" id="userid" type="hidden" value="<%=user._id%>">
                        <%}%>
                            <input class="input" id="userid" type="hidden" value="">
                            <input class="input" type="text" name="username" placeholder="Enter Your Name">

                            <textarea required class="text1" name="comment" placeholder="Write Your Comment"></textarea>
                            <button class="btn btn1 " type="submit">Post</button>
                            <p style="color:red" id="notUser"></p>
                </form>

                <% if(blog.comments.length) {%>

                    <div class="section2" id="comment">

                        <% for(let j=blog.comments.length -1;j>=0;j--){ %>
                            <div class="">
                                <span style=" display: flex; align-items: center; font-size: 17px;"><img
                                        src="https://avatars.githubusercontent.com/u/47313528?v=4" alt="Avatar"
                                        class="avatar">
                                    <p style="margin:unset; margin-left: 1rem;
                                        width: 30%;">
                                        <%=blog.comments[j].name %>
                                    </p>
                                    <b style="position: relative;
                                        left: 15rem;
                                        font-size: 15px;">
                                        <%=blog.comments[j].date.toLocaleString() %>
                                    </b>

                                </span>

                                <h6 id="comment" class="mt-2 ">
                                    <%=blog.comments[j].comment %>
                                </h6>
                                <a href="" class="reply">Reply</a>
                                <% if(blog.comments[j].replies) {%>

                                    <div class="replysection">
                                        <% for(let k=blog.comments[j].replies.length -1; k>=0 ;k--) {%>
                                            <span style=" display: flex; align-items: center; font-size: 17px;"><img
                                                    src="https://avatars.githubusercontent.com/u/47313528?v=4" alt="Avatar"
                                                    class="avatar">
                                                <p style="margin:unset; margin-left: 1rem;
                                                width: 30%;">
                                                    <%=blog.comments[j].replies[k].name %>
                                                </p>
                                                <b style="position: relative;
                                        left: 12rem;
                                        font-size: 15px;">
                                                    <%=blog.comments[j].replies[k].date.toLocaleString() %>
                                                </b>

                                            </span>
                                            <h6 id="comment" class="mt-2 ml-5 ">
                                                <%=blog.comments[j].replies[k].reply %>
                                            </h6>

                                            <%}%>
                                    </div>

                                    <%}%>

                                        <div class="replyform">
                                            <form action="/blog/reply" class="repform">
                                                <input class="input" type="text" name="username"
                                                    placeholder="Enter Your Name">
                                                <input type="hidden" name="comment_id"
                                                    value="<%=blog.comments[j]._id %>">
                                                <input type="hidden" name="blog_id" value="<%=blog._id %>">
                                                <textarea required class="text1" name="reply"
                                                    placeholder="Write Your Reply"></textarea>
                                                <button class="btn btn1 " type="submit">Reply</button>
                                            </form>
                                        </div>

                            </div>

                            <hr>
                            <%}%>
                    </div>

                    <%}%>


            </div>
        </div> -->
       

        <%- include("partials/footer.ejs") %>
            <script src="/js/showblog.js"></script>
</body>

</html>