<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company|<%= blog.title%>
    </title>
    <link rel="stylesheet" href="/css/showblog.css">
</head>

<body>

    <%- include("partials/navbar.ejs") %>

        <div class="container">
            <div class="h22">
                <h2 name="title">
                    <%=blog.title%>
                </h2>

                <h4>
                    <%=blog.description%>
                </h4>
                <span>Written by: <%=blog.name%></span>
            </div>

            <h5>
                <%=blog.markdown%>
            </h5>

            <a href="/blog" class="btn btn-primary">Return</a>
            <% if(user){%>
                <% if(user.email==blog.email || admin) {%>
                    <a href="/blog/edit/<%=blog._id%>" class="btn btn-primary">Edit</a>
                    <a href="/blog/delete/<%=blog._id%>" class="btn btn-primary">Delete</a>
                    <%}%>
                        <%}%>


                            <div class="section">
                                <form class="form" action="/blog/comment">

                                    <input class="input" id="id" type="hidden" name="userid" value="<%=blog._id%>">
                                    <% if(user) {%>
                                        <input class="input" id="userid" type="hidden" value="<%=user._id%>">
                                        <%}%>
                                            <input class="input" id="userid" type="hidden" value="">
                                            <input class="input" type="text" name="username"
                                                placeholder="Enter Your Name">

                                            <textarea required class="text1" name="comment"
                                                placeholder="Write Your Comment"></textarea>
                                            <button class="btn btn-primary" type="submit">Post</button>
                                            <p style="color:red" id="notUser"></p>
                                </form>

                                <hr>

                                <% if(blog.comments.length !=0) {%>
                                    <% for(let j=0;j<blog.comments.length;j++){ %>
                                        <div class="section2">
                                            <!-- show comment -->
                                            <span style="font-size: 20px;">Comment by: <%=blog.comments[j].name %>
                                            </span>
                                            <span>
                                                <%=blog.comments[j].date.toLocaleString() %>
                                            </span>
                                            <h3 id="comment" class="mt-2">
                                                <%=blog.comments[j].comment %>
                                            </h3>
                                        </div>

                                        <%}%>
                                            <%}%>


                            </div>

        </div>




        <%- include("partials/footer.ejs") %>
            <script src="/js/showblog.js"></script>
</body>

</html>