<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company|<%= blog.title%>
    </title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/css/showblog.css">
</head>

<style>
    .image {
        width: 70%;
        min-height: 370px;
    }
</style>

<body>

    <%- include("partials/navbar.ejs") %>

        <div class="container">
            <div class="h22">
                <h2 name="title">
                    <%=blog.title%>
                </h2>
                <span>Written by: <%=blog.name%></span>
                <% if(blog.image){%>
                    <div class="image">
                        <img class="mt-4 mb-4" style="object-fit: cover; width:100%; height: 100%;" src="<%= blog.image %>" alt="">
                    </div>
                    <%}%>
                        <h4>
                            <%=blog.description%>
                        </h4>
            </div>

            <h5>
                <%=blog.markdown%>
            </h5>

            <a href="/blog" class="btn btn-primary">Return</a>
            <% if(user){%>
                <% if(user.email==blog.email || admin) {%>
                    <a href="/blog/edit/<%=blog._id%>" class="btn btn-primary">Edit</a>
                    <a href="/blog/delete/<%=blog._id%>" class="btn btn-primary">Delete</a>
                    <%}%>
                        <%}%>


                            <div class="section">
                                <form class="form" action="/blog/comment">

                                    <input class="input" id="id" type="hidden" name="userid" value="<%=blog._id%>">
                                    <% if(user) {%>
                                        <input class="input" id="userid" type="hidden" value="<%=user._id%>">
                                        <%}%>
                                            <input class="input" id="userid" type="hidden" value="">
                                            <input class="input" type="text" name="username"
                                                placeholder="Enter Your Name">

                                            <textarea required class="text1" name="comment"
                                                placeholder="Write Your Comment"></textarea>
                                            <button class="btn btn-primary" type="submit">Post</button>
                                            <p style="color:red" id="notUser"></p>
                                </form>

                                <hr>

                                <% if(blog.comments.length !=0) {%>
                                    <% for(let j=blog.comments.length -1;j>=0;j--){ %>
                                        <div class="section2">
                                            <!-- show comment -->
                                            <span style=" display: flex; align-items: center; font-size: 20px;"><img
                                                    src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar"
                                                    class="avatar"> &nbsp <%=blog.comments[j].name %>
                                            </span>
                                            <span>
                                                <%=blog.comments[j].date.toLocaleString() %>
                                            </span>
                                            <h3 id="comment" class="mt-2">
                                                <%=blog.comments[j].comment %>
                                            </h3>
                                        </div>

                                        <%}%>
                                            <%}%>


                            </div>

        </div>

        <%- include("partials/footer.ejs") %>
            <script src="/js/showblog.js"></script>
</body>

</html>